@using CupLeagueGenerator.Infrastructure.Models
@model CupModel

@{
    var count = 0;
}

<head>
    <link rel="stylesheet" href="~/css/CupFixtures.css" />
</head>

<body>
    <form method="get">
        <h1 style="text-align:center">@Model.CupName</h1>
        <hr />
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Home Team</th>
                    <th scope="col" colspan=2>Result</th>
                    <th scope="col">Away Team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fixture in @Model.Fixtures)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@fixture.HomeParticipant</td>
                        <td>@fixture.HomeParticipantScore</td>
                        <td>@fixture.AwayParticipantScore</td>
                        <td>@fixture.AwayParticipant</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" asp-for="@Model.Teams" />
        <input type="hidden" asp-for="@Model.CupName" />
    </form>
</body>