@using CupLeagueGenerator.Infrastructure.Models;
@model CupViewModel

<style>

    body {
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .participant {
        text-align: center;
        display: inline-block;
        width: 12.5%;
        text-align: center;
        margin: 0;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .participants-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .GenerateFixtures:hover {
        color: firebrick;
        font-weight: bolder;
    }
</style>

<body>
    <form method="post">
        <h1 class="title">@Model.CupName</h1>
        <hr />
        <div class="participants-container">
            @foreach (var participant in @Model.CupParticipants)
            {
                <div class="participant">@participant.Name</div>
            }
        </div>
        <hr />
        <input class="GenerateFixtures" type="submit" value="GenerateCupFixtures" asp-controller="Fixture" asp-action="GenerateCupFixtures" asp-route-cupId="@Model.CupId" />
        @if (Model.CupFixtures.Count > 0)
        {
            <hr />
            <table>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Home Score</th>
                        <th>Away Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.CupFixtures.Count; i++)
                    {
                        var fixture = Model.CupFixtures[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@fixture.HomeParticipant.Name</td>
                            <td>@fixture.AwayParticipant.Name</td>
                            <td>@fixture.HomeParticipantScore</td>
                            <td>@fixture.AwayParticipantScore</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </form>
</body>