@using CupLeagueGenerator.Infrastructure.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model LeagueModel


<style>
    body{
        text-align: center;
    }
    .newLeagueBtn {
        justify-content:center;
        text-align: center;
    }
</style>
<body>
    <form method="post">
        <h1 style="text-align:center">Leagues</h1>
        <input class="newLeagueBtn" style="text-align:center" type="submit" asp-action="GenerateLeague" value="Create New League" />
        <hr />
    </form>
    <form method="post">

        <table class="table">
            <thead>
                <tr>
                    <th>N</th>
                    <th>League Name</th>
                    <th>Participants</th>
                    <th colspan=3>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var league in Model.Leagues)
                {
                    <tr>
                        <td>1</td>
                        <td>@league.Name</td>
                        <td>
                            @league.Participants.Count()
                        </td>
                        <td>
                            <button asp-controller="League" asp-action="TeamsInput" asp-route-leagueId="@league.Id">Add Teams</button>
                            <button asp-controller="League" asp-action="OpenLeague" asp-route-leagueId="@league.Id">Open</button>
                            <button asp-controller="League" asp-action="DeleteLeague" asp-route-leagueId="@league.Id">Delete</button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </form>



</body>

