@using CupLeagueGenerator.Infrastructure.Models;
@model LeagueViewModel

<style>

    body {
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .participant {
        text-align: center;
        display: inline-block;
        width: 12.5%;
        text-align: center;
        margin: 0;
        padding: 5px;
        border: 1px solid #ccc;
    }

    .participants-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .GenerateFixtures:hover {
        color: firebrick;
        font-weight: bolder;
    }

</style>

<body>
    <form method="post">
        <h1 class="title">@Model.LeagueName</h1>

        <hr />
        <div class="participants-container">
            @foreach (var participant in @Model.LeagueParticipants)
            {
                <div class="participant">@participant.Name</div>
            }
        </div>
        <hr />
        <input type="submit" value="Draw Groups" asp-action="DrawGroups" asp-controller="League" asp-route-leagueId="@Model.LeagueId" />
        <hr />
        <!-- Existing code for groups -->
        <table class="groups-table">
            <thead>
            </thead>
            <tbody>
                @foreach (var group in Model.Groups)
                {
                    <tr>
                        <td colspan="3" class="group-name">Group: @group.Name</td>
                    </tr>
                    <tr>
                        <th>Order</th>
                        <th>Team Name</th>
                    </tr>
                    @for (var i = 0; i < group.Participants.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@group.Participants[i].Name</td>
                        </tr>
                    }

                    <!-- Add a nested table for group fixtures -->
                    <tr>
                        <td colspan="3">
                            <table class="group-fixtures-table">
                                <thead>
                                    <tr>
                                        <th>Round</th>
                                        <th>Home Team</th>
                                        <th colspan="2">Score</th>
                                        <th>Away Team</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var fixt in group.Fixtures)
                                    {
                                        <tr>
                                            <td>@fixt.Round</td>
                                            <td>@fixt.HomeTeamName</td>
                                            <td>@fixt.HomeParticipantScore</td>
                                            <td>@fixt.AwayParticipantScore</td>
                                            <td>@fixt.AwayTeamName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </form>
</body>