@using CupLeagueGenerator.Infrastructure.Models
@model LeagueModel

@{
    var groupCount = 0;
    var fixturesCount = 0;
}

<head>
    <link rel="stylesheet" href="~/css/LeagueFixtures.css" />
</head>

<body>

    <div class="groups">
        @foreach (var group in @Model.Groups)
        {
            groupCount = 0;
            <table class="table table-bordered table-dark">
                <thead>
                    <tr style="text-align:center;color:red;">
                        <th colspan=2> @group.Name  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in @group.Teams)
                    {
                        groupCount++;
                        <tr>
                            <th style="width:10%" scope="row">@groupCount</th>
                            <td>@team</td>
                        </tr>
                    }

                </tbody>
            </table>
            fixturesCount = 0;
            <table class="table table-bordered table-dark">
                <thead>
                    <tr style="text-align:center;color:red;">
                        <th colspan=3> Fixtures @group.Name  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in @group.Fixtures)
                    {
                        fixturesCount   ++;
                        <tr>    
                            <th style="width:10%" scope="row">@fixturesCount</th>
                            <td>@team.HomeTeam</td>
                            <td>@team.AwayTeam</td>
                        </tr>
                    }

                </tbody>
            </table>
            <hr />
        }
    </div>



</body>