@using CupLeagueGenerator.Infrastructure.Models
@model LeagueModel

@{
    var fixturesCount = 0;
}

<head>
    <link rel="stylesheet" href="~/css/LeagueFixtures.css" />
</head>

<body>

    <div class="groups">
        @foreach (var group in @Model.Groups)
        {

            <table class="table table-bordered table-dark" style="width:900px">
                <thead>
                    <tr style="text-align:center;color:black;font-weight:bolder">
                        <th colspan=5 style="background-color:lightblue"> Group @group.Name  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in @group.Teams)
                    {
                        <tr>
                            <td colspan=5>@team.Name</td>
                        </tr>
                    }

                </tbody>

                <thead>
                    <tr style="text-align:center;color:black;font-weight:bolder;">
                        <th colspan=5 style="background-color:white"> Fixtures  </th>
                    </tr>
                </thead>
                <tbody>
                    @if (fixturesCount > 0)
                    {
                        fixturesCount = 0;
                    }
                    @foreach (var team in @group.Fixtures)
                    {
                        fixturesCount++;
                        <tr>
                            <th style="width:10%" scope="row">@fixturesCount</th>
                            <td>@team.HomeTeam</td>
                            <td>@team.HomeTeamGoals</td>
                            <td>@team.AwayTeamGoals</td>
                            <td>@team.AwayTeam</td>
                        </tr>
                    }

                </tbody>
            </table>
            <hr style="color:red;font-weight:bolder" />
        }
    </div>



</body>

