@using CupLeagueGenerator.Infrastructure.Models
@model SavesModel

<head>
    <link rel="stylesheet" href="~/css/Saves.css" />
</head>

<body>
    <form method="get">
        <h1>My Cups</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Teams</th>
                    <th scope="col" colspan=2>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cup in @Model.Cups)
                {
                    <tr>
                        <td>1</td>
                        <td>@cup.Name</td>
                        <td>@cup.TeamsCount</td>
                        <td><input type="submit" class="Load" asp-action="LoadCup" asp-route-id="@cup.Id" value="Load" /></td>
                        <td><input type="submit" class="Delete" asp-action="DeleteCup" asp-route-id="@cup.Id" value="Delete" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <h1>My Leagues</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Teams</th>
                    <th scope="col" colspan=2>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var league in @Model.Leagues)
                {
                    <tr>
                        <td>1</td>
                        <td>@league.Name</td>
                        <td>@league.ParticipantsCount</td>
                        <td><input type="submit" class="Load" asp-action="LoadLeague" asp-route-id="@league.Id" value="Load" /></td>
                        <td><input type="submit" class="Delete" asp-action="DeleteLeague" asp-route-id="@league.Id" value="Delete" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</body>